/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

#forkme {
	position: fixed;
	top: 3.5rem;
	right: 0;
	border: 0;
}

.v-center {
   display: flex;
   align-items: center;
}

.code-block {
	padding: 1.5rem 4.5rem 0.5rem 2rem;
}

.page-container {
	padding: 2.5rem;
}